//layout variables
$margin: 0.5rem;
$navheight: 3rem;
$navchildrenmargin: 2rem;
$navlinksradius: 0.3rem;
$articlepadding: 2rem;

%navlinksalign {
  height: $navheight;
  line-height: $navheight;
  vertical-align: middle;
}

//color variables
$navAndAsideBackground: orchid;
$textColor: #333;
// *************************************

