@use 'base';
@use 'fonts';
@use 'layouts';
//base

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
ul {
  list-style-type: none;
}

//styling
body {
  background-color: grey;
  text-align: center;
}

p.header {
  color: base.$textColor;
  text-shadow: 0 3px 5px black;
  text-align: center;
}

nav.mainNav {
  background-color: base.$navAndAsideBackground;
  a {
    text-transform: uppercase;
  }
}
div.search {
  button,
  input {
    border-width: 0;
    border-top-right-radius: base.$navlinksradius;
    border-bottom-right-radius: base.$navlinksradius;
  }
  button {
    background-color: base.$textColor;
    color: white;
    font-weight: bold;
  }
  input {
    background-color: rgb(167, 167, 167);
    box-shadow: inset 0 0 5px black, 0 0 1px black;
    padding-left: 0.5em;
    &:focus {
      background-color: white;
    }
  }
}
article,
footer {
  background-color: white;
  color:base.$textColor;
}
article {
  text-align: justify;
  float: right;
}

aside {
  background-color: base.$navAndAsideBackground;
}
