/* FONTS SPECS 
font stacks, 'layers' separated by commas. Using meowni 
https://meowni.ca/font-style-matcher/  
and scales copied from type-scale.
 */
@use "headers.scss";
@use "navigation";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{margin:0; padding:0; box-sizing:border-box;}

html, body {
  /*16px*/
  font-size: 100%;
  background-color: #d9d9d9;  
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.65;
}

code {
  background-color:#b1b1b1;
  padding:3px;
  border-bottom:grey 1px solid
}

p {margin-bottom: 1.15rem;}

body {
  max-width: 800px;
  padding:2rem 1rem;
  margin:auto;
}

figure {
  width: 50%;
  margin: 3rem auto;
}

figure img {
  width: 100%;
  height:auto;
}

dt {
  font-weight:bold;
  font-size:1.3rem;
  letter-spacing:1px;
}
li::marker{color:#3d7e9a}

.topButon{
  float:right;
  overflow:hidden;
  cursor:pointer;
}

.darkMode{
  background-color: black;
  color: white;
}
